<div class="row container-fluid margin-top-18">
  <div class="col-md-6 col-md-offset-1 deck-space-graph">
    <button v-if="currentNode" v-on:click="centerSpace"
            type="button" class="btn btn-primary btn-center-graph">Center Space</button>
    <div id="deck-space" class="deck-space centered"></div>
  </div>
  <div class="col-md-3">
    <h2 v-if="currentNode"><a v-bind:href="currentNode.url">{{ currentNode.name }}</a></h2>
    <div v-if="currentNode" id="mana-chart">
      <img id="mana-chart-img" v-bind:src="currentNode.mana_chart_thumbnail" alt="Mana Colors"/>
    </div>
  </div>
</div>
