.deck-snippet {
  padding-left: 8px;
  padding-right: 8px;
}

.no-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.no-margin-top {
  margin-top: 0px;
}

.sm-p-well {
  padding: 15px
}

.folder-header {
  padding-left: 8px;
  padding-right: 8px;
}

.deck-btn-group {
  margin: 6px
}

@media (max-width: 990px) and (min-width: 426px) {
    .deck-square-card-img {
        object-position: -48px -89px !important;
    }
}

.deck-square-card-img {
    object-position: -35px -66px !important;
}

.deck-group {
  margin-bottom: 15px;
}
