.deck-snippet {
  padding-left: 8px;
  padding-right: 8px;
}

.no-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.no-margin-top {
  margin-top: 0px;
}

.sm-p-well {
  padding: 15px
}

.folder-header {
  padding-left: 8px;
  padding-right: 8px;
}

.deck-btn-group {
  margin: 6px
}

.deck-group {
  margin-bottom: 15px;
}
